@font-face {
    font-family: UnicalAntiqua;
    src: url(Fonts/UncialAntiqua-Regular.ttf); 
}

@font-face {
    font-family: SpecialElite;
    src: url(Fonts/SpecialElite-Regular.ttf);
}

:root {
    --bg-pattern--: linear-gradient(90deg, rgb(55,11,45) 0%, #580925 100%);
    --burgundy--: #370B2D;
}

body {
    background: var(--bg-pattern--);
    background: url(enchant_forest.jpg), linear-gradient(90deg, #580925 0%, rgb(55,11,45, 1)  100%);
    background-size: auto;
    /* background-repeat: no-repeat; */
    margin: auto;
    padding: auto;
    line-height: 30px;
}


header {
    color: var(--burgundy--);
    text-align: center;
    /* padding: 2px; */
    padding-left: 1%;
    background-color: var(--bg-pattern--);
    background-image: url("golg.jpg");
    border-color: var(--burgundy--);
    border-width: 2px 0px 2px 0px;
        border-style: solid;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "icon title";
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
    grid-area: title;
    margin: 0;
    text-align: left;
}

.icon {
    grid-area: icon;
}



main {
    background-color: rgba(243, 241, 211, 0.8);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

.content {
    padding: 2rem;
    font-family: SpecialElite;
}

#hint, #accept {
    color: var(--burgundy--);
    font-weight: bold;
}

button {
    background-color: rgba(55, 11, 45, 0.3);
    border-radius: 10px;
    color: white;
    font-family: SpecialElite;
}

input {
    background-color: rgba(55, 11, 45, 0.3);
    color: white;
}

button:hover {
    background-color: rgba(18, 59, 51, 0.4);
}

/* #clue1 br {
    display: block;
    padding-bottom: 1.8rem;
} */