:root {
    --bg-pattern--: linear-gradient(90deg, rgb(55,11,45) 0%, #580925 100%);
}

body {
    background: #370B2D;
    background: linear-gradient(90deg, #580925 0%, rgb(55,11,45, 1)  100%);
    margin: auto;
    padding: auto;
}


header {
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 2px;
    background: #370B2D;
    background: var(--bg-pattern--);
}

main {
    background-color: rgba(243, 241, 211, 0.8);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
}

.content {
    padding: 2rem;
}
